# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

*.mo


# Emacs
eproject.cfg
*#


# Temporary files (vim backups)
*.swp


# Log files:
*.log


# Vagrant:
.vagrant/


# Virtualenv
venv
build

.python-version


# JavaScript files
node_modules
src/web/static/npm_components


# Application resource files
var/log/
#src/web/public/
src/web/public/img/*.svg

src/instance/production.cfg
src/data/software.py
src/data/privatekey.pem

webserver.wsgi
