[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
SQLAlchemy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Principal = "*"
Flask-WTF = "*"
Flask-Script = "*"
WTForms = "*"
flask-migrate = "*"
svgwrite = "*"
flask-csv = "*"
pycryptodome = "*"
flask-paginate = "*"
flask-restless = "*"

[dev-packages]
