[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]
SQLAlchemy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
Flask-Principal = "*"
Flask-WTF = "*"
Flask-Script = "*"
WTForms = "*"
flask-migrate = "*"
svgwrite = "*"
flask-csv = "*"
pycryptodome = "*"
flask-paginate = "*"
flask-restless = "*"
psycopg2-binary = "*"

[dev-packages]
