{% extends "layout.html" %}
{% block content %}
<div class="container">
<h1>Logs</h1>
<div class="table-responsive-md">
    <table id="table-stats" class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Software</th>
            <th>Software version</th>
            <th>HTTP referer</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <th scope="row">{{ log.id }}</th>
            <td>{{ log.software }}</td>
            <td>{{ log.software_version }}</td>
            <td>{{ log.http_referrer }}</td>
            <td class="date">{{ log.timestamp | datetimeformat }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<br />
<a href="{{ url_for('admin_bp.export_logs_csv') }}" class="btn btn-default">Export to CSV</a>
</div>
<script>
$(document).ready(function() {
$('#table-stats').DataTable( {
    responsive: true,
    columnDefs: [
        {
            bSortable: false,
            targets: [0]
        },
    ],
    "order": [[ 4, "desc" ]]
});
});
</script>
{% endblock %}
